@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

body {
    font-family: 'Pretendard Variable';
    background-color: rgb(239, 241, 245);
    margin-left: 200px
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(50px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: blur(0);
    }
}

@keyframes sidebarappear {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MobileSideBar {
    0% {
        opacity: 0;
        transform: scale(0.7);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

.daycount {
    font-size: 4em;
    text-align: center;
    font-weight: 900;
    margin-block-end: 0;
    width: 100%;
}

#day1 .daycount {
    background: linear-gradient(0deg, rgb(210, 15, 57) 0%, rgb(255, 84, 100) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#day2 .daycount {
    background: linear-gradient(0deg, rgb(223, 142, 29) 0%, rgb(255, 187, 94) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#day3 .daycount {
    background: linear-gradient(0deg, rgb(64, 160, 43) 0%, rgb(16, 230, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#day4 .daycount {
    background: linear-gradient(0deg, rgb(4, 165, 229) 0%, rgb(96, 202, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#day5 .daycount {
    background: linear-gradient(0deg, rgb(30, 102, 245) 0%, rgb(98, 155, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#day6 .daycount {
    background: linear-gradient(0deg, rgb(136, 57, 239) 0%, rgb(173, 126, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.redtext {
    color: rgb(210, 15, 57);
}

.yellowtext {
    color: rgb(223, 142, 29);
}

.greentext {
    color: rgb(64, 160, 43);
}

.skytext {
    color: rgb(4, 165, 229);
}

.bluetext {
    color: rgb(30, 102, 245);
}

.purpletext {
    color: rgb(136, 57, 239);
}

.line-container {
    position: relative;
    width: 480px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.vertical-line-dotted {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 70px;
    border-left: 4px dotted rgba(210, 15, 57, 0.40);
}

.line-container p {
    position: absolute;
    left: calc(50% + 16px);
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}

.anim {
    opacity: 0;
    animation: fadeInUp 600ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
    animation-delay: calc(var(--dl) * 0.05s); 
    transition: opacity 0.3s ease;
    will-change: filter; 
    transform: translateZ(0);
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 233, 239);
    overflow-x: hidden;
    padding: 20px;
    box-shadow: 5px 0 20px rgba(76, 79, 105, 0.25);
    text-align: center;
    animation: sidebarappear 600ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

    button {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.5em;
        font-family: 'Pretendard Variable';
        font-weight: 350;
        border-width: 0;
        border-radius: 20px;
        margin-bottom: 10px;
        padding: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease;

        span {
            color: rgba(0, 0, 0, 0.5);
            font-size: 0.65em;
        }
    }

    button:hover {
        transform: scale(0.95);
        background-color: rgba(0, 0, 0, 0.1);
    }

    button.active {
        font-weight: 750;
    }
    button.active:hover {
        transform: scale(0.95);
        background-color: rgba(0, 0, 0, 0.1);
    }

    #EmphasizeHawaii {
        background: linear-gradient(135deg, rgb(64, 160, 43) 0%, rgb(4, 165, 229) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 2.5em;
        font-weight: 700;
    }
}

.schedulecard {
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(210, 15, 57, 0.15);
    padding: 10px 20px;
    margin: 30px auto;
    background-color: rgba(210, 15, 57, 0.10);
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 400px;

    p {
        font-size: 1.2em;
        font-weight: 700;
        line-height: 0;
        text-align: center;
        white-space: nowrap;
    }
}

.daycontainer.active {
    display: block;
}

.daycontainer {
    display: none;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#SidebarOpenButton {
    display: none;
    position: fixed;
    top: 20px;
    left: 30px;
    z-index: 1;
    border: none;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.5);
}

#SidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease;
}



@media (max-width: 1000px) {
    body {
        margin-left: 0;
    }
    .sidebar {
        width: 500px;
        border-radius: 60px;
        animation: none;
        transform: translateX(-100px);
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        backdrop-filter: blur(20px) brightness(2);
        -webkit-backdrop-filter: blur(20px) brightness(2);
        background-color: rgba(230, 233, 239, 0.3);
        opacity: 0;
        filter: blur(20px);
        transform: translate(-50%, -50%) scale(0.8);
        transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;

        #EmphasizeHawaii {
            line-height: 1.6;
            font-size: 5em;
        }

        button {
            font-size: 3em;
            margin-bottom: 20px;
            padding: 20px;
            width: 60%;
            border-radius: 30px;
        }

        &.open {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            filter: blur(0);
        }
    }

    #SidebarOpenButton {
        display: block;
    }

    #SidebarOverlay.open {
        visibility: visible;
        opacity: 1;
    }
}
